.mainHead {
    font-size: 34px;
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
  }
  
.subHead {
    font-size: 14px;
    color: #636364;
    line-height: 1.5;
    letter-spacing: 3%;
  }
  